@import "../themes/current-theme/colors/colors.css";

window#osd {
  border-radius: 10px 0;
  border: 2px solid @accent;
  background: @background;
  font-family: "Space Grotesk, JetBrains Mono Nerd Font Propo";
  font-size: 16px;
  font-weight: bold;
}

window#osd #container {
  background: transparent;
  padding: 0 10px;
}

window#osd image {
  -gtk-icon-transform: scale(0.9);
}

window#osd image,
window#osd label {
  color: @accent;
}

window#osd label {
  min-width: 50px;
}
window#osd progressbar:disabled,
window#osd image:disabled {
  opacity: 0.5;
}

window#osd progressbar {
  min-height: 6px;
  border-radius: 999px;
  background: transparent;
  border: none;
}

window#osd trough {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: linear-gradient(
    145deg,
    alpha(@accent-foreground, 0.3),
    alpha(@accent-foreground, 0.2)
  );
}

window#osd progress {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: @accent;
}
