@import url("../../themes/current-theme/colors/colors.css"); /* ~/.config/themes/current-theme/colors.css */
@import url("./left-modules.css");
@import url("./center-modules.css");
@import url("./right-modules.css");

/* --- BASE STYLES --- */
* {
  border: none;
  font-family: "JetBrainsMono Nerd Font Propo";
}

window#waybar {
  background: transparent;
}

.modules-left,
.modules-center,
.modules-right {
  margin: 10px;
  margin-bottom: 0px;
}

#custom-logo,
#custom-clock,
#clock,
#backlight,
#custom-notification,
#custom-theme-switcher,
#pulseaudio,
#network,
#battery,
#custom-power {
  background: @background;
  padding: 0px 15px;
  margin: 0 10px;
}

/* --- CIRCLE MODULES --- */
#custom-logo,
#custom-notification,
#custom-theme-switcher,
#custom-power {
  padding: 10px;
  border-radius: 999px;
  min-width: 15px;
  min-height: 15px;
  font-size: 12px;
}

/* --- TOOLTIP --- */
tooltip {
  background-color: @background;
  border-radius: 7px 0;
  animation: tooltipFade 0.18s ease-out;
  transition: opacity 0.2s ease;
}

tooltip label {
  background-color: @background;
  color: @foreground;
}
tooltip box {
  padding: 5px;
}

/* --- ANIMATIONS --- */
@keyframes battery-breath {
  0% {
    color: #ff4f4f;
    text-shadow: 0 0 2px #ff4f4f;
  }
  50% {
    color: #ff0000;
    text-shadow: 0 0 10px #ff0000;
  }
  100% {
    color: #ff4f4f;
    text-shadow: 0 0 2px #ff4f4f;
  }
}

@keyframes tooltipFade {
  from {
    opacity: 0;
    margin-top: 6px;
  }
  to {
    opacity: 1;
    margin-top: 0px;
  }
}
