
#workspaces {
  border-radius: 5px;
  padding: 6px 10px;
  background-color: @background;
}

#workspaces button {
  border-radius: 0 5px;
  background: @surface;
  color: @accent-foreground;
  min-height: 20px;
  min-width: 24px;
  padding: 0 6px;
  margin: 0 4px;
  transition: all 0.5s ease-in-out;
}

#workspaces button.active {
  background: @accent;
}

#custom-theme-switcher,
#custom-notification {
  color: @accent;
}

