
#custom-logo, 
#custom-clock,
#clock, 
#backlight {
  border-radius: 0 10px;
}

#custom-logo {
  padding: 0px 10px;
}

#custom-logo {
  color: @accent;
}
#custom-clock {
  color: @accent-hover;
}

#clock {
  color: @accent;
}

#backlight {
  color: @success;
}
