#pulseaudio,
#network,
#battery,
#custom-notification,
#custom-power {
  border-radius: 10px 0;
}

#pulseaudio {
  color: @success;
  min-width: 60px;
}

#pulseaudio.muted {
  color: @error;
}

#network {
  color: @highlight;
}

#battery.charging {
  color: @success; 
}

#battery.good:not(.charging) {
  color: @accent-secondary;
}

#battery.warning:not(.charging) {
  color: @warning;
}

#battery.critical:not(.charging) {
  animation: battery-breath 1.3s infinite ease-in-out;
}

#custom-power {
  color: @error;
}

