configuration {
    kb-accept-entry:	    "Control+o,Return,KP_Enter";
    kb-remove-to-eol:	    "Control+Shift+k";
    kb-mode-complete:	    "Control+Shift+l";
    kb-remove-char-back:    "BackSpace,Shift+BackSpace";

    kb-row-left:	    "Control+h";
    kb-row-right:	    "Control+l";
    kb-row-up:		    "Up,Control+k";
    kb-row-down:	    "Down,Control+j";
}
